@media screen {
  .advert-banner {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }

  .inn-container {
    gap: 10px;
    height: 50vh;
    display: flex;
    min-width: 100%;
    padding:20px 50px;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
  }

  .inn-container h5 {
    gap: 10px;
    display: flex;
    font-size: .7rem;
    font-weight: 600;
    align-items: center;
  }

  .inn-container h5 span {
    padding: 2px 10px;
    border-radius: 8px;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .inn-container h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  .inn-container p {
    font-size: .7rem;
    font-weight: 400;
    text-transform: capitalize;

  }

  .inn-container p span {
    font-size: 1rem;
    color: var(--secondary-color);
  }

  .btn-ad {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    transform: rotate(180deg);
    background-color: transparent;
    border: 2px solid var(--primary-color);
  }

  .btn-ad:hover {
    background-color: var(--primary-color);
  }

  .btn-ad .icon-btn:hover {
    fill: var(--background-color);
  }

  .last-btn {
    right: 0;
    transform: rotate(360deg);

  }

  .icon-btn {
    width: 30px;
    height: 40px;
    fill: var(--primary-color);
  } 

  .btn-advert{
    
    display: flex;
    padding: 4px 10px;
    font-size: .8rem;
    width: fit-content;
    align-items: center;
    border-radius: 30px;
    justify-self: center;
    color: var(--background-color);
    background-color: var(--primary-color);
    
  }

  .arrow-thin-icon {
    height: 20px;
    fill: var(--background-color);
  }

  .custom-bar {
    width: 10%;
    height: 10px;
    background-color: var(--primary-color);
  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

  .inn-container {
    padding: 60px;
  }

  .inn-container h5 {
    font-size: 1rem;
  }

  .inn-container h1 {
    width: 50%;
    font-size: 2rem;
  }

  .inn-container p {
    font-size: .8rem;

  }

  .inn-container p span {
    font-size: 1.4rem;
  }

  .btn-ad {
    width: 40px;
    height: 40px;
  }


  .btn-advert{
    display: flex;
    padding: 0 10px;
  }

  .arrow-thin-icon {
    height: 30px;
  }

}
