@media screen {
  .card-container {
    gap: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .card-container span {
    width: fit-content;
  }

  .card-h {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .card-h h1 {
    font-size: .8rem;
    padding: 2px 14px;
    border-radius:4px;
    width: fit-content;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .card-h h2 {
    font-size: .8rem;
    padding: 2px 14px;
    border-radius:4px;
    width: fit-content;
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .card-info p {
    font-weight: 800;
    color: var(--secondary-color);
  }

  .card-info p span {
    font-weight: 300;
    color: var(--tertiary-color);
    text-decoration: line-through;

  }

  .card-img-container{ 
    width: 100%;
    height: 250px;
  }

  .card-btn-contain {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-btn {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .btn-by {
    background-color: var(--secondary-color);
  }
}


/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .card-container {
    width: 300px;
  }
 
}

