@media screen {

  .drop-container {
    z-index: 100;
    display: flex;
    cursor: pointer;
    width: fit-content;
    position: relative;
    text-align: center;
    align-items: center; 
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--primary-color);
  }


  .drop-down {
    gap: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .drop-down span {
    font-size: .5rem;
    text-transform: uppercase;
    
  }

  .drop-icon {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    fill: var(--background-color);
  }

  .drop-f-icon {
    width: 20px;
    height: 20px;
    fill: var(--background-color);

  }


  .drop-down-panel {
    top: 60px;
    gap: 10px;
    display: flex;
    cursor: pointer;
    text-align: start;
    font-size: 0.7rem;
    border-radius: 4px;
    position: absolute;
    flex-direction: column;
    color: var(--tertiary-color);
    background-color: var(--light-color);
  }

  .show {
    display: flex;
  }

  .hide {
    display: none;
  }

  .footer-category {
    width: 120px;
    display: flex;
    margin: 0 20px;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    border-radius: 20px 20px 0 0;
    background-color: var(--background-color);


  }

  .footer-category span {
    font-size: .5rem;
    font-weight: 500;
    
    
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  
  .drop-container {
    width: 200px;
  }


  .drop-down span {
    font-size: .7rem;
    
  }

  .drop-icon {
    width: 24px;
    height: 24px;
  }


  .drop-down-panel {
    top: 80px;
    width: 180px;
  }


  .footer-category {
    margin: 0 30px;

  }

  .footer-category span {
    font-size: .6rem;
    font-weight: 400;
    
  }
}
