@media screen {
  .nav-component {
    display: flex;
    flex-direction: column;
  }

  .top-nav {
    gap: 10px;
    padding: 10px;
    display: flex;
    font-size: 0.6rem;
    align-items: center;
    color: var(--background-color);
    justify-content: space-between;
    background-color: var(--primary-color);
  }

  .top-nav p {
    text-align: center;
  }

  .middle-nav {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-color);
  }

  .categories-container {
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .middle-in-nav {
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .search-nav {
    gap: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    background-color: var(--light-color);
  }

  .search-nav-input {
    border: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: inherit;
  }

  .logo {
    height: 40px;
  }

  .search-icon {
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
  }

  .nav-profile-info {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-profile-info h1 {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .side-nav {
    gap: 20px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
  }

  .nav-cart,
  .nav-p {
    width: 14px;
    height: 14px;
    fill: var(--primary-color);
  }

  .cart-circle {
    width: 34px;
    height: 34px;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    border: 2px solid var(--primary-color);
  }

  .profile-pic {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    object-position: center;
  }

  .cart-circle span {
    top: -20px;
    left: 20px;
    display: flex;
    font-size: 0.8rem;
    position: absolute;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
  }

  .profile-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--primary-color);
  }

  .bottom-nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .category-bottom-nav {
    display: none;
  }

  .bottom-part {
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--tertiary-color);
  }

  .drop-down-panel span {
    padding: 10px 8px;
  }

  .drop-down-panel span:hover {
    color: var(--light-color);
    background-color: var(--primary-color);
  }
}

@media only screen and (min-width: 48em) {
  .top-nav {
    font-size: 0.8rem;
    padding: 10px 15px;
  }

  .middle-nav {
    padding: 10px 15px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  .middle-nav-categories {
    display: none;
  }

  .middle-in-nav {
    gap: 20px;
    width: 50%;
    align-items: center;
  }

  .logo {
    height: 50px;
  }

  .bottom-nav {
    padding: 10px 15px;
  }

  .category-bottom-nav {
    display: flex;
  }

  .bottom-part {
    width: 30%;
  }

  .nav-link {
    font-size: 0.8rem;
  }
}
