@media screen {
  .package-container {
    gap: 40px;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .package-header {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .package-header h1 {
    font-size: 1rem;
  }

  .package-header p {
    font-size: 0.8rem;
    align-items: justify;
  }

  .package-card-container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;

    justify-content: space-between;
  }

  .package-card-container li {
    list-style: none;
  }
  .package-card {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-between;
    color: var(--background-color);
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .package-card:hover {
    background-color: var(--primary-color);
  }

  .package-card:hover h1 {
    color: var(--primary-color);
  }

  .package-card h1 {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--background-color);
  }

  .package-card h4 {
    font-size: 0.7rem;
    text-transform: capitalize;
  }

  .package-card li {
    font-size: 0.9rem;
  }

  .package-card span {
    top: -40px;
    left: -15px;
    width: 80px;
    height: 80px;
    display: flex;
    font-size: 0.8rem;
    position: absolute;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--secondary-color);
    border: 4px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .package-container {
    padding: 40px 20px;
  }

  .package-header p {
    font-size: 1rem;
  }
  .package-header h1 {
    font-size: 1.4rem;
  }

  .package-card-container {
    flex-wrap: nowrap;
  }

  .package-card span {
    bottom: -30px;
    right: -10px;
    width: 80px;
    height: 80px;
    display: flex;
    font-size: 0.8rem;
    position: absolute;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--secondary-color);
    border: 4px solid var(--background-color);
  }
}
