@media screen {
  .product-container {
    gap: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;


  }

  .product-top {
    gap: 10px;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    flex-direction: column;
    border: 2px solid var(--secondary-color);
    


  }

  .product-top-header{
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .product-top-header h1 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .product-top-header h1 span {
    font-weight: bold;
    color: var(--secondary-color);
  }

  .product-top-header p {
    font-size: .8rem;
    color: var(--tertiary-color);
  }

  .time-start {
    gap: 10px;
    display: flex;
    font-size: .8rem;
    align-items: center;
  }
  
  .time-start  span {
    width: 50px;
    height: 35px;
    display: flex;
    font-size: .8rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }


  .product-top-info span {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: .8rem;
    position: absolute;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .product-top-info h1 {
    font-size: 1rem;
  }

  .product-img-contain {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

  }


  .product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;


  }

  .no-data {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-color);
  }

}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .product-container {
    gap: 10px;
    margin: 30px;
    row-gap: 30px;
    flex-direction: row;

  }

  .product-top {
    padding: 20px;
  }


  .product-img {
    width: 300px;
  }

}

