@media screen {
  .service {
    gap: 10px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
  }


  .selected-service {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


  .service-list {
    gap: 10px;
    width: 100%;
    display: flex;
    height: inherit;
    padding: 15px 0;
    overflow: hidden;
    overflow-x: auto;
    align-items: center;
    

  }

  .service-item {
    gap: 10px;
    height: 150px;
    display: flex;
    padding: 10px;
    min-width: 100%;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-around;
    border: .5px solid var(--tertiary-color);

  }

  .selected-service-b {
    border: none;
    border: .5px solid var(--secondary-color);

  }

  .selected-service-b h2 {
    color: var(--secondary-color);
  }



  .service-item h2 {
    font-size: .8rem;
  }

  .service-item p {
    font-size: .7rem;

  }

  .selected-service-name {
    color: var(--tertiary-color);
    
  }

  .service-img {
    width: 100%;
  }

  .service-img-i {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
  }

  .btn-services-n {
    padding: 10px;
    font-size: .7rem;
    border-radius: 12px;
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .btn-services-n:hover {
    background-color: var(--secondary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .service-header {
    padding: 10px 30px;
    flex-direction: row;
  }

  .service-h1 {
    flex: 90%;

  }

  .service-h1 h1 {
    font-weight: 600;
  }
  
  .service-p {
    width: 50%;
  }

  .service-p p {
    font-size: .8rem;
  }

  .service-item p {
    font-size: .8rem;

  }
  .service {
    gap: 0;
  }

  .service-img-i {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
  }


  .service-item {
    min-width:400px;


  }

}
