@media screen {
  .cart-contain {
    gap: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-wrapper{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .cart-layout {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: fit-content;
    flex-direction: row;
    border-radius: 12px;
    background-color: var(--background-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  }

  .cart-lay1 {
    flex: 50%;
    display: flex;
    border-radius: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .cart-lay2 {
    flex: 50%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .cart-h h1 {
    font-size: 1rem;
    font-weight: 800;
    text-transform: capitalize;

  }

  .sideline {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .cart-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cart-price h4 {
    font-weight: 400;
  }

  .icon-delete {
    height: 26px;
    width: 26px;
  }

  .icon-add,
  .icon-minus {
    height: 12px;
    width: 12px;
    fill: var(--background-color);
  }

  .icon-delete {
    fill: var(--secondary-color);
  }

  .cart-no {
    display: flex;
    align-items: end;
    justify-content: space-between;

  }

  .inc-contain {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .cart-in {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    background-color: var(--primary-color);
  }

  .btn-shop-item {
    gap:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-shop {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 8px;
    font-size: .7rem;
    cursor: pointer;
    padding: 10px;
    width: 100%;

  }

  .btn-shop:hover{
    background-color: var(--secondary-color);
  }

  .shop-buy {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
  }

  .shop-buy:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .no-data {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-color);
  }

  
  .no-data h1 {
    font-size: 1rem;
  }

}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .cart-layout {
    width: 600px;
  }
}
